@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/* DESIGN VARIABLES */
/* HOME */
* {
  box-sizing: border-box;
}

body {
  background: #ebeff2;
  color: #011826;
  font-family: "Inter", sans-serif;
  margin: 0;
}

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* ABOUT */
.about {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 9rem;
  justify-content: center;
  margin: 0rem 0rem 4rem;
}

.bio {
  margin: 0 auto;
  max-width: 1000px;
}

.portrait {
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
}

.signature {
  margin-bottom: 2.5rem;
  width: 125px;
}

.what, .who {
  margin-bottom: 4rem;
}

article, i {
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
}

article {
  font-size: 14px;
}

i {
  font-family: "IBM Plex Serif", serif;
  font-size: 18px;
}

@media only screen and (max-width: 991px) {
  .about {
    gap: 5rem;
  }
}
@media only screen and (max-width: 600px) {
  .about {
    align-items: unset;
    flex-direction: column;
    gap: 2rem;
    margin: 0rem 0rem 4rem;
  }
  .intro:first-child {
    order: 2;
  }
  .portrait {
    height: 100%;
    width: 100%;
  }
}
.wrapper {
  flex: 1 0 auto;
  padding: 2rem 3rem 5rem;
}

footer {
  background: #071d49;
  color: #ffffff;
  flex-shrink: 0;
  font-size: 14px;
  letter-spacing: 0.05rem;
  line-height: 0.5rem;
  padding: 1.5rem;
  text-align: center;
}

::-webkit-input-placeholder {
  color: #011826 !important;
  font-family: "Inter", sans-serif;
}

button, .sendbtn {
  background: #0557a8;
  border: 2px solid #0557a8;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin: 1rem 0 0;
  padding: 1.25rem;
  text-transform: uppercase;
  transition: 0.25s;
  width: 100%;
}

button:hover, .sendbtn:hover {
  background: #071d49;
  border: 2px solid #071d49;
}

fieldset {
  border: none;
  padding: 0;
}

form {
  margin: 2.5rem auto 5rem;
  max-width: 500px;
}

.form-error {
  background: #fff3f3;
  border: 1px solid #fb2828;
  color: #fb2828;
  font-size: 14px;
  margin: -1.25rem 0 1.75rem;
  padding: 1rem;
}

input, select, textarea {
  border: 1px solid #011826;
  box-sizing: border-box;
  display: inline-block; /* is this line necessary? */
  margin: 1rem 0 2rem;
  padding: 1rem 1rem;
  width: 100%;
}

input[type=file] {
  background: #ffffff;
}

input[type=file]:active, input[type=file]:focus {
  background: #a7d4d9;
}

input[type=text] {
  font-family: "Inter", sans-serif;
}

input:active, input:focus {
  outline: none !important;
}

label {
  font-weight: bold;
}

.message-sent {
  background: #54c111;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.25rem;
  margin-bottom: 3rem;
  padding: 1.6rem;
}

.reqdot {
  color: #fb2828;
  font-weight: bold;
}

.rowform {
  display: flex;
  flex-direction: row;
  gap: 2.75rem;
}

textarea {
  font-family: "Inter", sans-serif;
  height: 156px;
  resize: none;
}

.enquiry {
  background: white;
  padding: 3rem 3rem 4rem;
}

.optxt {
  font-weight: normal;
}

select {
  font-family: "Inter", sans-serif !important;
}

.file-input {
  color: transparent;
  cursor: pointer;
}

.file-input::before {
  color: #0557a8;
  content: url("../../assets/icons/upload.png");
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin: 0.25rem 0 -1rem;
}

.file-input::-webkit-file-upload-button {
  visibility: hidden;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
  form {
    max-width: 375px;
  }
  .rowform {
    flex-direction: column;
    gap: 0;
  }
}
.galleri {
  margin: 0 auto;
  max-width: 1000px;
}

/* PAINTING DETAIL PAGE */
.painting {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 768px;
}

.painting-content {
  background: white;
  margin-top: -0.4rem;
  padding: 1.1rem 2rem 3rem;
}

.painting-titles {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category-tag {
  background: #a7d4d9;
  padding: 0.5rem 1.5rem;
}

.loader {
  -webkit-animation: shadowPulse 1.6s linear infinite;
          animation: shadowPulse 1.6s linear infinite;
  background: #a7d4d9;
  border-radius: 50%;
  box-shadow: -24px 0 #a7d4d9, 24px 0 #a7d4d9;
  box-sizing: border-box;
  display: block;
  height: 1rem;
  margin: 2rem auto 1rem;
  position: relative;
  width: 1rem;
}

@-webkit-keyframes shadowPulse {
  33% {
    background: #a7d4d9;
    box-shadow: -24px 0 #1e5359, 24px 0 #a7d4d9;
  }
  66% {
    background: #1e5359;
    box-shadow: -24px 0 #a7d4d9, 24px 0 #a7d4d9;
  }
  100% {
    background: #a7d4d9;
    box-shadow: -24px 0 #a7d4d9, 24px 0 #1e5359;
  }
}

@keyframes shadowPulse {
  33% {
    background: #a7d4d9;
    box-shadow: -24px 0 #1e5359, 24px 0 #a7d4d9;
  }
  66% {
    background: #1e5359;
    box-shadow: -24px 0 #a7d4d9, 24px 0 #a7d4d9;
  }
  100% {
    background: #a7d4d9;
    box-shadow: -24px 0 #a7d4d9, 24px 0 #1e5359;
  }
}
.errormsg {
  background: #FFF3F3;
  border: 1px solid #FB2828;
  color: #FB2828;
  padding: 1rem;
}

input[type=checkbox] {
  display: none;
}

.premodal img {
  cursor: pointer;
  transition: 0.5s;
  width: 100%;
}

/* Modal triggers */
input[type=checkbox]:checked ~ .modal,
input[type=checkbox]:checked ~ .modal-background {
  display: block;
}

/* Open modal */
.modal-background {
  background: rgba(1, 24, 38, 0.75);
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9998;
}

.modal {
  bottom: 0;
  display: none;
  left: 0;
  margin: auto;
  height: auto;
  max-width: 1000px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0%, 10%);
  z-index: 9999;
}

.modal img {
  cursor: pointer;
  padding: 2rem;
  width: 100%;
}

a {
  color: #071d49;
  text-decoration: none;
  padding: 0 1rem;
}

.dashboard {
  background: #a7d4d9;
  color: #1e5359;
  margin-bottom: 1rem;
  padding: 1rem 2rem 3rem;
}

.searchcont {
  margin: 0 auto;
  max-width: 1000px;
}

.searchbar {
  font-size: 0.9rem;
  margin-bottom: 3.1rem;
  padding-left: 3rem;
}

input::-moz-placeholder {
  color: #011826;
}

input:-ms-input-placeholder {
  color: #011826;
}

input::placeholder {
  color: #011826;
}

.icon {
  color: #011826;
}

.result {
  background: white;
  border: 1px solid #011826;
  border-bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem 1.5rem 3rem;
}

.result:last-child {
  border-bottom: 1px solid #011826;
}

.result:hover {
  background: #a7d4d9;
}

.tab {
  margin-top: -3.2rem;
  position: absolute;
  width: 1000px;
  z-index: 1;
}

.header {
  height: 600px;
  margin: auto;
  max-width: 1000px;
  -o-object-fit: cover;
     object-fit: cover;
}

h1, h2, h3 {
  font-family: "IBM Plex Serif", serif;
}

h1 {
  display: grid;
  font-size: 28px;
  grid-gap: 2rem;
  grid-template-columns: 100px -webkit-max-content 100px;
  grid-template-columns: 100px max-content 100px;
  grid-template-rows: 1.5rem 0;
  justify-content: center;
  margin-bottom: 1rem;
  text-align: center;
}

h1:after, h1:before {
  border-bottom: 1px solid #011826;
  content: " ";
  display: block;
}

h2 {
  font-size: 20px;
}

.wordmark {
  color: #071d49;
  font-family: "IBM Plex Serif", serif;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.breadcrumb {
  margin-bottom: 1.5rem;
}

.breadcrumb a {
  padding: 0rem 0rem;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.breadcrumb a:hover {
  font-weight: bold;
  color: #157be2;
}/*# sourceMappingURL=style.css.map */