button {
    background: get(cta-color);
    border: 2px solid get(cta-color);
    color: get(pure-white);
    cursor: pointer;
    font-size: $--default-text;
    font-weight: bold;
    letter-spacing: .1rem;
    margin: 1rem 0 0;
    padding: 1rem;
    text-transform: uppercase;
    transition: .5s;
    width: 100%;
  
    &:focus, 
    &:hover {
        background: get(hover-color);
        border: $--blue-border;
    }
}

/* ENQUIRY MODAL BUTTON */
#openPopUp {
    background: get(cta-color);;
    color: get(pure-white);
    display: block;
    text-align: center;
    padding: 15px 15px;
    margin: 2rem auto 0;
    text-decoration: none;
    transition: all .5s;
    width: 250px;
  
    &:hover {
      background: get(hover-color);
      cursor: pointer;
      font-weight: normal;      
    }
}

/* LOGIN - LOGOUT BUTTON */
.logbtn {
    background: get(cta-color);;
    color: get(pure-white) !important;
    font-size: 14px !important;
    letter-spacing: .2rem;
    padding: .75rem 1.5rem;
    text-transform: uppercase;
  
    &:focus, 
    &:hover {
      background: get(hover-color);
      border-bottom: 0 !important;
      padding-bottom: .75rem !important;
    }
}
  
/* ADMIN ~ Delete button */
.delbtn {
    background: get(del-btn);
    border: 1px solid get(del-btn);
    font-size: 14px;
    letter-spacing: 0.075rem;
    margin-top: 2.5rem;
    padding: .75rem 1.25rem;
    width: auto;

    &:focus, 
    &:hover {
        background: get(required-field);
        border: 1px solid get(required-field);
    }
}

@media (max-width: getScreenSize(laptop-width)) {
    .logbtn {
        background: get(black-value);
    }
}

@media (max-width: getScreenSize(mobile-width)) {
    .delbtn {
        width: 100%;
    }
}
