.request {
  margin: 0 0 3rem;

  /* ENQUIRY FORM LAYOUT */
  .enquiry {
    margin-bottom: 3.25rem;
    margin-top: 4.75rem;
    padding: 0 2rem 0;

    // word count function  
    .counter {
      font-size: 14px;
      margin-top: -.5rem;
    }

    &input, 
    &textarea {
      margin: 1rem 0 1.5rem;
      padding: .5rem 1rem;
    }

    // overwrite default textarea height 
    .notetab {
      height: 75px;
    }
  }
}

/* ENQUIRY FORM ~ Opened */
.popup .popUpContainer {
  background: #ffffff;
  left: 50%;
  margin-left: -250px;
  max-width: 500px;
  position: absolute; 
  top: -110vh;
  width: 100%;
  z-index: 9999999; 
}

/* Open & close modal */
  .popup {
    background: rgba(1,24,38,0.75);
    left: 0;
    height: 100vh;
    opacity: 0;
    position: fixed;
    top: -100vh;
    width: 100vw;
    z-index: 9999999;

    // The cancel/close button on popup dialog (enquiry modal) 
    a.closePopUp {
      background: #FB5B5B;
      color: white;
      display: block;
      font-size: 2rem;
      font-weight: bold;
      position: absolute;
      right: 0;
      text-align: center;
      text-decoration: none;
      top: 0;
      transition: .5s;
      width: 50px;

      &:hover {
        background: $--required;
      }
    }

    // When popup is targeted, by clicking on link with #popup in HTML
    &:target {
      opacity: 1;
      top: 0; // must be included as well to be able to open the modal on button click 
    }

    &:target .popUpContainer {
      top: 0;
    }
  }
  
  @media  (max-width: getScreenSize(tablet-width)) {
    .popup .popUpContainer {
      left: 0;
      height: 100%;
      margin-left: 0;
      max-width: none;
      width: 100%;
    }
    .request {
      margin: 0 0 1rem;
    }
  }

  @media  (max-width: getScreenSize(mobile-width)) {
    #openPopUp {
      width: 100%;
    }
  }
