.errormsg {
    background: get(error-background);
    border: 1px solid get(required-field);
    color: get(required-field);
    padding: 1rem;
}

.form-error {
    background: get(error-background);
    border: 1px solid get(required-field);
    color: get(required-field);
    font-size: 14px;
    margin: -.5rem 0 1.25rem;
    padding: .5rem 1rem;
}

/* SUCCESSFUL FORM MESSAGE */
.message-sent {
    background: get(success-message);
    color: get(pure-white);
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.25rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
}
