.about {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 9rem;
  justify-content: center;
  margin: 0rem 0rem 4rem;
}
  
.bio {
  margin: 0 auto;
  max-width: 1000px;
}
  
.portrait {
  height: 275px;
  object-fit: cover;
  width: 200px;
}
  
.signature {
  margin-bottom: 2.5rem;
  width: 125px;
}
  
.what, .who {
  margin-bottom: 4rem;
}
  
/* HOME - ABOUT SECTION*/
.welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;

  hr {
    width: 75px;
  }
  .txt {
    background: $--box-color;
    color: $--green;
    padding: 2rem 2rem 0rem;
  }
}
  
.sub h2 {
  line-height: 1.25rem;
}
  
@media (max-width: getScreenSize(tablet-width)) {
  .about {
      gap: 3rem;
  }
    .img img {
      width: 100% !important;
  }
  .welcome {
    flex-direction: column-reverse;
    margin: 2rem auto 2rem !important;

    hr {
      margin-bottom: 2rem;
    }
    .txt {
      padding-bottom: 2rem;
    }
  }
  .sub h2 {
    line-height: 30px;
    margin-bottom: 0;
  }
}

@media (max-width: getScreenSize(mobile-width)) {
  .about {
    align-items: unset;
    flex-direction: column;
    gap: 2rem;
    margin: 0 0 3rem;
  }
  .intro:first-child {
    order: 2;
  }
  .portrait {
    height: 100%;
    width: 100%;
  }
}
