@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* DESIGN VARIABLES */
$--box-color: #cee6e9;
$--black: #011826;
$--blue: #0557a8;
$--dark-blue: #071d49;
$--link-blue: #157be2;
$--green: #1e5359;
$--light-green: #a7d4d9;
$--white: #ebeff2;

$--black-border: 1px solid #011826;
$--blue-border: 2px solid #071d49;

$--default-letter-spacing: .05rem;
$--default-line-height: 1.5rem;
$--primary-font: 'IBM Plex Serif', serif;
$--secondary-font: 'Inter', sans-serif;

$--bread-text: 15px;
$--default-text: 16px;
$--default-layout: 100%;
$--layout-width: 1280px;
$--unset: 0;

$--laptop-screen: 1024px;
$--mobile-screen: 600px;
$--tablet-screen: 991px;

//form elements 
$--autofill: #f2faff;
$--error: #fff3f3;
$--input: #ffffff;
$--required: #fb2828; 
$--success: #54c111;

/* ABOUT */
.about {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 9rem;
  justify-content: center;
  margin: 0rem 0rem 4rem;
}

.bio {
  margin: 0 auto;
  max-width: 1000px;
}

.portrait {
  height: 275px;
  object-fit: cover;
  width: 200px;
}

.signature {
  margin-bottom: 2rem;
  width: 125px;
}

.what, .who {
  margin-bottom: 2.5rem;
}

article, i {
  letter-spacing: $--default-letter-spacing;
  line-height: $--default-line-height;
}

article {
  font-size: $--bread-text;
}

i {
  font-family: $--primary-font;
  font-size: 18px;
}

@media only screen and (max-width: getScreenSize(tablet-width)) {
  .about {
    gap: 3rem;
  }
} 

@media only screen and (max-width: getScreenSize(mobile-width)) {
  .about {
    align-items: unset;
    flex-direction: column;
    gap: 1.25rem;
    margin: 2rem 0rem 3rem;
  }
  .intro:first-child {
    order: 2;
  }
  .portrait {
    height: 100%;
    width: 100%;
  }
}
