@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* DESIGN VARIABLES */
$--box-color: #cee6e9;
$--black: #011826;
$--blue: #0557a8;
$--dark-blue: #071d49;
$--link-blue: #157be2;
$--green: #1e5359;
$--light-green: #a7d4d9;
$--white: #ebeff2;

$--black-border: 1px solid #011826;
$--blue-border: 2px solid #071d49;

$--default-letter-spacing: .05rem;
$--default-line-height: 1.5rem;
$--primary-font: 'IBM Plex Serif', serif;
$--secondary-font: 'Inter', sans-serif;

$--bread-text: 15px;
$--default-text: 16px;
$--default-layout: 100%;
$--layout-width: 1280px;
$--unset: 0;

//form elements 
$--autofill: #f2faff;
$--error: #fff3f3;
$--input: #ffffff;
$--required: #fb2828; 
$--success: #54c111;

/* HOME */
* {
  box-sizing: border-box;
}

body {
  background: $--white;
  color: $--black; 
  font-family: $--secondary-font;
  margin: $--unset;
}

html,
body {
	height: $--default-layout;
}

html {
  overflow-x: hidden;
}

#root {
	display: flex;
	flex-direction: column;
	height: $--default-layout;
}

/* HOME - ABOUT SECTION*/
.welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.txt {
  background: $--box-color;
  color: $--green;
  padding: 2rem 2rem 0rem;
}

hr {
  width: 75px;
}

.sub h2 {
  line-height: 1.25rem;
}

@media only screen and (max-width: getScreenSize(tablet-width)) {
  hr {
    margin-bottom: 2rem;
  }
  .welcome {
    flex-direction: column-reverse;
    margin: 2rem auto 2rem !important;
  }
  .img img {
    width: 100% !important;
  }
  .sub h2 {
    line-height: 30px;
    margin-bottom: 0;
  }
  .txt {
    padding-bottom: 4rem;
  }
}
