@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$colors: (
  background-color: #ebeff2,
  black-value: #011826,
  box-color: #cee6e9,  
  cta-color: #0557a8,
  hover-color: #071d49,  
  link-color: #157be2,
  pure-white: #ffffff,
  // form & admin values
  del-btn: #fb5b5b,  
  error-background: #fff3f3, 
  required-field: #fb2828, 
  success-message: #54c111,
);

@function get($color) {
  @return map-get($colors, $color);
}

@function getFont($font) {
  @return map-get($fonts, $font);
}

$screens: (
  mobile-width: 600px,
  tablet-width: 991px,
  laptop-width: 1084px,
);

@function getScreenSize($screen) {
  @return map-get($screens, $screen);
}

/* DESIGN VARIABLES */
$--box-color: #cee6e9;
$--green: #1e5359;
$--light-green: #a7d4d9;

$--black-border: 1px solid #011826;
$--blue-border: 2px solid #071d49;

$--default-letter-spacing: .05rem;
$--default-line-height: 1.5rem;
$--primary-font: 'IBM Plex Serif', serif;
$--secondary-font: 'Inter', sans-serif;

$--bread-text: 15px;
$--default-text: 16px;
$--default-layout: 100%;
$--layout-width: 1280px;
$--unset: 0;
