.adminav {
    background: $--light-green;
    margin: 0 auto;
    max-width: 650px;
    padding: 2rem 0 3rem;
}

.adminav__inner {
    list-style: none;
    padding: 1rem 0 0;
}

.adminav_link, #active {
    color: $--green;
    display: block;
    font-weight: bold;
    padding: 1rem;
    text-decoration: none;
    transition: .5s;
    width: 100%;
}

.adminav_link:hover {
    background: $--box-color;
    color: $--dark-blue;
}

#active {
    background: $--green;
    color: white;
    font-weight: normal;
}

/* ENQUIRIES & INBOX */
.post, .inbox-msg {
    background: white;
    margin-bottom: 1.5rem;
    padding: 3rem 3rem 4rem;
}

.post-detail, .inbox-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.post-subject {
    background: #e5eded;
    padding: .75rem 2rem .75rem;
}

.note, .message-box {
    background: $--box-color;
    margin-top: 2rem;
    padding: 1.5rem 2rem 3rem;
}

@media (max-width: $--tablet-screen) {
    .note, .message-box {
        padding: .75rem 1rem 2rem;
    }
    .post, .inbox-msg {
        padding: 1.5rem 1.5rem 2rem;
    }
    .post-detail, .inbox-detail {
        flex-direction: column;
    }
    .post-subject {
        padding: .75rem 1rem .75rem;
    }
}

@media (max-width: $--mobile-screen) {
    .adminav {
        margin-top: 2rem;
    }
    .enquiry-section {
        margin-top: 2rem !important;
    }
}
