.wrapper {
  flex: 1 0 auto;
  padding: 2rem 3rem 5rem;
}

footer {
  background: $--dark-blue;
  color: $--input;  
  flex-shrink: $--unset;
  font-size: $--bread-text;
  letter-spacing: $--default-letter-spacing;
  line-height: .5rem;
  padding: 1.5rem;
  text-align: center;
}
