.file-input {
    color: transparent;
    cursor: pointer;

    &::before {
        color: get(cta-color);
        content: url('../../assets/icons/upload.png');
        cursor: pointer;
        display: flex;
        font-size: 18px;
        justify-content: center;
        margin: .75rem 0 -1rem;
    }

    &::-webkit-file-upload-button {
        visibility: hidden;
    }
}

/* FORM DEFAULT STYLING */
form {
    margin: 2.5rem auto 2rem;
    max-width: 500px;

    fieldset {
        border: none;
        padding: 0;
    }
    label {
        font-weight: bold;

        .optxt {
            font-size: 15px;
            font-weight: normal;
        }
        // required fields
        .reqdot {
            color: get(required-field);
            font-weight: bold;
        }
    }
    // two column fields 
    .rowform {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}

input, select, textarea {
    border: $--black-border;
    box-sizing: border-box;
    display: inline-block;
    margin: 1rem 0 1.5rem;
    padding: .5rem 1rem;
    width: $--default-layout;

    &:active, 
    &:focus {
        outline: none !important;
    }
    &::placeholder {
        color: get(black-value);
    }
    &[type="file"] {
        background: get(pure-white);
        transition: .5s;
    
        &:active, 
        &:focus, 
        &:hover {
            background: $--light-green;
        }
    }
    &[type=text] {
        font-family: $--secondary-font;
    }
}

select {
    appearance: none;
    background-color: get(pure-white);
    background-image: url('../../assets/icons/dropbtn.svg');
    background-repeat: no-repeat;
    background-position-x: 97.5%;
    background-position-y: 13px;
    font-family: $--secondary-font !important;
    padding: .75rem 1rem;

    option {
        background: get(box-color);
        color: get(hover-color);
        font-size: 15px;
    }
}

textarea {
    font-family: $--secondary-font;
    height: 156px;
    resize: none;
}

@media only screen and (max-width: getScreenSize(mobile-width)) {
    form {
        max-width: 500px;

        .rowform {
            flex-direction: column;
            gap: 0 !important;
        }
    }
}
