form {
    max-width: 600px;
}

button {
    background: $--blue;
    border: 2px solid $--blue;
    color: $--input;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: .1rem;
    margin: 1rem 0 0;
    padding: 1.25rem;
    text-transform: uppercase;
    transition: .25s;
    width: 100%;
}
  
button:hover {
    background: $--dark-blue;
    border: $--blue-border;
}
  
button:focus {
    background: $--input;
    border: $--blue-border;
    color: $--dark-blue;
}

// CONTACT FORM
.reqdot {
    color: $--required;
    font-weight: bold;
}

textarea {
    height: 150px;
    resize: none;
}

//LOGIN FORM
input, textarea {
    border: $--black-border;
    box-sizing: border-box;
    display: inline-block; /* is this line necessary? */
    margin: 1rem 0 2rem;
    padding: 1rem 1rem;
    width: $--default-layout;
}

label {
    font-weight: bold;
}
