.galleri {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 0 auto;
    max-width: 1000px;
  }

  .galleri img {
    width: 100%;
  }

  /* overlay */
  .galleri_item {
    position: relative;
  }
  
  .galleri_item img {
    display: block;
  }
  
  .galleri_content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(1,24,38,0.5);
  }
  
  .galleri_item:hover .galleri_content {
    opacity: 1;
  }
  
  .galleri_detail {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 85%;
  }

  /* FEATURED */
  .featured {
    max-width: 1000px;
    margin: 0 auto;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.gallery img {
  width: 100%;
  max-width: 312px;
  height: 300px;
  object-fit: cover;
}

.gallery:img hover {
  transform: scale(1.2);
}

/* PAINTING DETAIL PAGE */ 
.painting {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 768px;
}

.painting-content {
    background: white;
    margin-top: -.4rem;
    padding: 1.1rem 2rem 3rem;
}

.painting-titles {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-tag {
    background: $--light-green;
    padding: .5rem 1.5rem;
    text-transform: capitalize;
}
