.galleri {
    margin: 0 auto;
    max-width: 1000px;
}

.galleri > .gallery__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    grid-template-rows: repeat(1, 150px);
    grid-gap: 2rem 2.5rem;
}
  
.galleri > .gallery__list > span > figure > img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}
  
.galleri > .gallery__list > span {
    grid-column: span 1;
    grid-row: span 2;
}

.link {
    padding: 0;
}

.link img {
    height: 100%;
    object-fit: cover;
}

/* Gallery zoom-in effect on hover */
.img-hover-zoom {
    height: auto; 
    overflow: hidden; 
}
  
.img-hover-zoom img {
    transition: transform 1s, filter 2s ease-in-out;
    transform: scale(1.1);
}
  
.img-hover-zoom:hover img {
    transform: scale(1);
}

/* PAINTING DETAIL PAGE */ 
.painting {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 768px;
}

.painting-content {
    background: white;
    margin-top: -.4rem;
    padding: 1.1rem 2rem 3rem;
}

.painting-titles {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-tag {
    background: $--light-green;
    padding: .5rem 1.5rem;
}
