* {
    box-sizing: border-box;
}
  
body {
    background: get(background-color);
    color: get(black-value); 
    font-family: $--secondary-font;
    margin: $--unset;
}
  
html {
    overflow-x: hidden;
}

article, i {
    letter-spacing: $--default-letter-spacing;
    line-height: $--default-line-height;
}
  
i {
    font-family: $--primary-font;
    font-size: 18px;
}

// keep footer down 
html,
body {
    height: $--default-layout;
}
  
#root {
    display: flex;
    flex-direction: column;
    height: $--default-layout;
}
