.loader {
    animation: shadowPulse 1.6s linear infinite;
    background: #a7d4d9;
    border-radius: 50%;
    box-shadow: -24px 0 #a7d4d9, 24px 0 #a7d4d9;
    box-sizing: border-box;
    display: block;
    height: 1rem;
    margin: 2rem auto 1rem;
    position: relative;
    width: 1rem;
}
  
@keyframes shadowPulse {
    33% {
      background: #a7d4d9;
      box-shadow: -24px 0 $--green, 24px 0 #a7d4d9;
    }
    66% {
      background: $--green;
      box-shadow: -24px 0 #a7d4d9, 24px 0 #a7d4d9;
    }
    100% {
      background: #a7d4d9;
      box-shadow: -24px 0 #a7d4d9, 24px 0 $--green;
    }
}
