input[type="checkbox"] {
	display: none;
}

.premodal img {
  cursor: pointer;
  width: 300px;
}

.premodal img:hover {
	filter: brightness(70%);
}

/* Modal triggers */
input[type="checkbox"]:checked ~ .modal,
input[type="checkbox"]:checked ~ .modal-background {
	display: block;
}

/* Open modal */
.modal-background {
  background: rgba(1,24,38,0.75);
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9998;
}

.modal {
  bottom: 0;
  display: none;
  left: 0;
  margin: auto;	
  height: auto;
  max-width: 768px;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate(0%, 12.5%);
  z-index: 9999;
}

.modal img {
  cursor: pointer;
  padding: 2rem;
  width: 100%;
}
