.main-nav {
  height: 90px;
  // hide hamburger menu on desktop- and laptop view 
  #check {
    display: none;
  }
}

/* HAMBURGER MENU */
.menu-btn {
  color: get(pure-white);
  display: none;
  float: right;
  font-size: 25px;
  line-height: 90px;
  margin-right: 40px;

  // hamburger menu color
  svg path {
    stroke: get(hover-color);
  }
}

/* NAME TAG */
.logo {
  color: get(hover-color);
  font-family: $--primary-font;
  font-size: 2rem;
  font-weight: bold;
  line-height: 90px;
  margin-left: 30px;
  text-decoration: none;
  transition: .5s;

  &:hover {
    color: get(cta-color);
  }
}
  
/* NAVBAR */
.navlinks {
  float: right;
  line-height: 90px;
  list-style: none;
  margin-right: 30px;
  padding: 0;

  li {
    display: inline-block;
    margin: 0px 20px;
  }
  li a {
    color: get(cta-color);
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s linear 0s;

    &:focus, 
    &:hover {
      color: get(black-value);
      padding-bottom: 8px;
      border-bottom: 2px solid get(hover-color);
    }
  }
}
  
@media (max-width: getScreenSize(laptop-width)) {
  // hamburger menu position 
  #check:checked ~ .navlinks {
    left: 0;
  }
  .logo {
    font-size: 1.75rem;
  }
  .menu-btn {
    display: block;
  }
  .navlinks {
    background: get(cta-color);
    height: 100vh;
    left: -100%;
    line-height: 3.5rem;
    padding: 1rem 2rem 0;
    position: absolute;
    transition: all 0.5s;
    width: 100%;
    z-index: 999;

    li {
      display: block;
      margin: 0;
    }
    li a {
      color: get(pure-white);
      font-size: 20px;

      &:hover {
        border-bottom: none;
        color: get(pure-white);
      }
    }
  }
}
  
@media (max-width: getScreenSize(mobile-width)) {
  .logo {
    margin-left: 25px;
    font-size: 1.5rem;
  }
}
