.searchcont {
    margin: 0 auto;
    max-width: 1000px;
}

.searchbar {
    font-size: .9rem;
    margin-bottom: .75rem;
    padding-left: 3rem;
}

input::placeholder {
    color: $--black;
}

.icon {
    color: $--black;
}

.result {
    background: white;
    border: $--black-border;
    display: flex;
    flex-direction: column;
    margin-top: -0.75rem;
    padding: 1rem 1.5rem 1.5rem 3rem;
}

.result:hover {
    background: $--light-green;
}

.tab {
    position: absolute;
    width: 1000px;
}
