.caption {
    letter-spacing: 2.5px;
}

.sliderimg {
    transition: .5s;
}

.sliderimg:hover {
    filter: brightness(1) !important;
}

// Overwritten styles
.carousel {
    margin: 0 auto;
    max-width: 1000px;
}

.carousel-caption {
    bottom: 4.25rem;
    letter-spacing: 1px;
}

.carousel-control-prev:hover, 
.carousel-control-prev:focus, 
.carousel-control-next:hover, 
.carousel-control-next:focus {
    opacity: 1;
    transition: .5s;
}

.carousel-control-prev, .carousel-control-next {
    background: $--dark-blue;
    opacity: 0.75;
    width: 10%;
}

.carousel-control-next-icon {
    background: url('../../assets/icons/slider/Nxtbtn.svg');
}

.carousel-control-prev-icon {
    background: url('../../assets/icons/slider/Bckbtn.svg');
}

.carousel-indicators {
    margin-bottom: 3rem;
}

.carousel-indicators [data-bs-target] {
    height: 5px;
}

@media (max-width: 768px) {
    .carousel-control-prev, .carousel-control-next {
        display: none;
    }
    .sliderimg {
        height: 300px !important;
    }
}

@media (max-width: 600px) {
    .sliderimg {
        height: 250px !important;
    }
}
