h1, h2, h3 {
    font-family: $--primary-font;
}

h1 {
    display: grid;
    font-size: 28px;
    grid-gap: 2rem;
    grid-template-columns: 100px max-content 100px;
    grid-template-rows: 1.5rem 0;
    justify-content: center;
    margin-bottom: 3rem;
    text-align: center;
}

h1:after, h1:before {
    border-bottom: $--black-border;
    content: " ";
    display: block;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}

.wordmark {
    color: $--dark-blue;
    font-family: $--primary-font;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.breadcrumb {
    margin-bottom: 1.5rem;
}

.breadcrumb a {
    padding: 0rem 0rem;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.breadcrumb a:hover {
    font-weight: bold;
    color: $--link-blue;
}
