h1, 
h2, 
h3 {
    font-family: $--primary-font;
}

/* HEADING DECORATION ~ displayed on tablets, laptops and desktops */
h1 {
    display: grid;
    font-size: 28px;
    grid-gap: 2rem;
    grid-template-columns: 100px max-content 100px;
    grid-template-rows: 1.5rem 0;
    justify-content: center;
    margin-bottom: 1rem;
    text-align: center;

    &:after, 
    &:before {
        border-bottom: $--black-border;
        content: " ";
        display: block;
    }
}

/* SUBHEADING */
h2 {
    font-size: 21px;
}

@media (max-width: getScreenSize(tablet-width)) {
    h1 {
        grid-gap: 1rem;
        grid-template-rows: 1.25rem 0;
    }  
}

@media (max-width: getScreenSize(mobile-width)) {
    h1 {
        display: block;
        text-align: left;

        &:after, 
        &:before {
            border-bottom: none; // remove heading decor to improve user-experience 
        }
    }
}
