

// media queries 
$screens: (
    mobile-width: 600px,
    tablet-width: 991px,
    laptop-width: 1024px,
);

@function getScreenSize($screen) {
    @return map-get($screens, $screen);
}

// getScreenSize(mobile-width)
